// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_product,
.new_product {
	margin-left: 20px;
}

table {
	margin: auto;
	margin-top: 25px;
}

th,
td {
	padding: 10px;
}

a {
	margin-left: 1em;
}