// Place all the styles related to the products controller here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit_product,
.new_product,
.product-reviews,
.rated {
	margin-left: 20px;
}
.rated {
	margin-bottom: 1em;
}
.new_comment>p {
	margin-left: 0;
}

table {
	margin: auto;
	margin-top: 25px;
}

th,
td {
	padding: 10px;
}

a {
	margin-left: 1em;
}
p>a {
	margin-left: 0;
}
h4 {
	margin-left: 20px;
	margin-bottom: 0;
}
// font //
.btn {
	font-family: Helvetica, Arial, sans serif;
}