<% if signed_in? %>
  <h4>Add a review:</h4><br>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <p>
    <div class="rating"></div>
  </p>
  <p>
  	<%= f.submit "Submit", class: "btn btn-default" %>
  </p>

  <% end %>
<% end %>